/* --------------- -------------- ------------------ --
   Feel free to write your own specific components here!
   ..by Vladislav
/* --------------- -------------- ------------------- -

/* Items from page where user should select a product */
/* Merch list */
/* Gray color - #494949 */
.content-header{
    font-size: 28px;
    border-bottom: 1px solid black;
    margin: 15px;
}


.request-wrap{
	height: 850px;
	border: 1px solid black;
}

.merch-list{
	margin: 0;
	width: 100%;
	height: 785px;
}

.record {
	width: 96%;
	margin: 20px 2%;
	height: 125px;
	padding: 15px 0 15px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.record img{
	height: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	margin-right: 15px;
}

.record span{
	display: inline;
	margin: 0 0 0 0;
	font-size: 18px;
}

.record p{
	font-size: 14px;
}

.record a{
    text-decoration: none !important;
}
/* Req container */
.req-container{
	border: 1px solid black;
	float: left;
	width: 67%;
	height: 92%;
	margin: 20px 2%;
}
.req-container p{
	font-size: 12px;
	margin: 15px 0 -15px 15px;
}

/* Category list */
.category-list{
	width: 25%;
	margin: 20px 0 20px 2%;
	height: 785px;
	border: 1px solid black;
}
.category-list a{
    text-decoration: none !important;
}

.category-list h1{
	font-size: 19px;
	margin-left: 15px;
}
.category-list ul li{
	margin:8px;
}
.category-list ul li span{
	color: gray;
	font-size: 12px;
}
/* Items from registration page */
.registr-wrap{
	border: 1px solid black;
	height: 360px;
}

.registr-wrap table{
	width: 50%;
	margin: auto;
}
.registr-wrap td{
	border: 1px solid gray;
}
.registr-wrap th{
padding: 15px;
}

.message{
    font-size: 12px;
    font-weight: bold;
    width: 50%;
    height: 90px;
    margin: auto;
    text-align: center;
}

.col1{
	width: 45%;
}
.inright{
	text-align: right;
	padding: 3px;
}

.col2{
	width: 55%;
}

.reg-bottom{
	text-align: center;
}
.reg-bottom input{
	color: black;
	width: 300px;
}
/* Index page */
.index-page h2{
    margin: 15px;
    font-size: 19px;
}
.record-line{
    width: 95%;
    height: 300px;
    margin: 0 15px;
}

.inline-record{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    float: left;
    width: 23%;
    height: 300px;
    margin: 0 5px;
    position: relative;
}
.image-container{
    width: 65%;
    margin: auto;
}

.inline-record img{
    width: 100%;
    max-height: 150px;
}
.inline-record h1{
    font-weight: normal;
    margin: 15px;
    font-size: 19px;
}
.inline-record span{
    float: right;
    margin-right: 15px;
    color: lightgray;
}
.inline-record p{
    margin-left: 15px;
}

/* small Product list */
.product-list{
    width: 100%;
    height: 735px;
    border: 1px solid black;
}

.product-record{
    border-bottom: 1px solid black;
    height: 80px;
}

.product-record h1{
    font-size: 15px;
}
.img-box img{
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
}
.img-box{
    float: left;
    margin: 10px;
}
.descr-box{
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    width: 65%;

}
.descr-box p{
    font-size: 15px !important;
    margin: 5px 0 0 10px !important;
}
.descr-box h1{
    font-size: 18px  !important;
    margin: 10px 0 0 10px !important;
}

.price-box{
    margin: 10px 25px 0 0;
    float: right;
}
.price-box p {
    font-size: 18px;
}

/* Right container */
.right-container p{
    font-size: 22px;
    margin: 15px 0 15px 0;
}
.right-container{
    width: 65%;
    float: right;
    height: 735px;
    margin: 20px 3% 20px;
}

/* menu-list */
.menu-list{
    width: 25%;
    margin: 20px 0 20px 2%;
    height: 725px;
    border: 1px solid black;
}
.menu-list h1{
    font-size: 19px;
    margin-left: 28px;
}
.menu-list ul li{
    margin:0 0 9px 0;
    border-bottom: 1px solid lightgray;
    list-style-type: square;

}
.menu-list ul li span{
    color: gray;
    font-size: 12px;
}
.menu-list a{
    text-decoration: none;
}

/* Right container */
.right-container p{
    font-size: 22px;
    margin: 15px 0 15px 0;
}
.right-container h3{
    border-bottom: 1px solid black;
    font-size: 25px;
    margin-top: -10px;
}
.right-container{
    width: 65%;
    float: right;
    height: 735px;
    margin: 20px 3% 20px;
}
/* small Product list */
.product-list{
    width: 100%;
    height: 665px;
    border: 1px solid black;
}

.product-record{
    border-bottom: 1px solid black;
    height: 80px;
}

.product-record h1{
    font-size: 15px;
}
.img-box img{
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
}
.img-box{
    float: left;
    margin: 10px;
}
.descr-box{
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100%;
    width: 65%;

}
.descr-box p{
    font-size: 15px;
    margin: 5px 0 0 10px;
}
.descr-box h1{
    font-size: 18px;
    margin: 10px 0 0 10px;
}

.price-box{
    margin: 10px 25px 0 0;
    float: right;
}
.price-box p{
    font-size: 18px;
}
/* Product form */
.product-form{
    margin: 15px;
    width: 93%;
}
.product-form input, select{
    height: 24px;
    width: 100%;
    border: 1px solid black;
}
.product-form textarea{
    border: 1px solid black;
    width: 100%;
}

.product-form p{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 0;
}
.product-form h2{
    margin: 0;
    font-size: 18px;
}
.price-container input{
    width: 20%;
}
.price-container{
    font-size: 18px;
}
.button-container input{
    width: 20%;
    margin-left: 2px;
    float: right;

}
.button-container{
    padding-top: 15px;
    border-bottom: 1px solid black;
    height: 35px;
}

.product-form div{
    padding-bottom: 12px;
    margin-top: 18px;
}

/* Account control form */
.account-form{
    margin: 15px;
    width: 93%;
}
.account-form fieldset input{
    height: 24px;
    width: 99%;
    font-size: 14px;
    border: 1px solid black;
}
.account-form .small-button{
    width: 20%;
    font-size: 14px;
}
.account-form .with-button{
    width: 78%;
}
.account-form fieldset{
    width: 65%;
    margin-bottom: 55px;
}
.account-form textarea{
    border: 1px solid black;
    width: 100%;
}

.account-form p{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}
.account-form h2{
    margin: 0;
    font-size: 18px;
}


/* Profile Items */

.profile-set{
    width: 80% !important;
    margin-bottom: 45px !important;
}

.profile-set img{
    margin-top: 10px;
    max-height: 260px;
}